<style type="text/css">
    body{
        min-height:100%;
        position:relative;
    }
	#foot{
		background-color: rgb(59,48,52);
		color: #ffffff;
        height: 170px;
        position:absolute;
        bottom: 0;
        width:100%;
	}
	#foot a{
		color:#ffffff !important;
	}
    .container{
        padding-bottom: 170px;
    }
</style>
<html lang="zh-Hans">
<head>
	<title>社团用户注册</title>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" charset="utf-8">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-xs-12">
				<div class="form-horizontal" role="form" >
					<fieldset><legend>社团用户注册</legend></fieldset>

						<div class="form-group has-feedback">				
               				<label for="username">用户名</label>
                			<div class="input-group">
                    			<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    			<input id="username" class="form-control" placeholder="请输入用户名" maxlength="20" type="text">
              				</div>

                			<span style="color:red;display: none;" class="tips"></span>
                			<span style="display: none;" class=" glyphicon glyphicon-remove form-control-feedback"></span>
                			<span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
            			</div>

            			<div class="form-group has-feedback">
                			<label for="password">密码</label>
                			<div class="input-group">
                    			<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                   				<input id="password" class="form-control" placeholder="请输入密码" maxlength="20" type="password">
                			</div>

                			<span style="color:red;display: none;" class="tips"></span>
                			<span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                			<span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
            			</div>

            			<div class="form-group has-feedback">
               				<label for="passwordConfirm">确认密码</label>
                			<div class="input-group">
                    			<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    			<input id="passwordConfirm" class="form-control" placeholder="请再次输入密码" maxlength="20" type="password">
                			</div>
               				<span style="color:red;display: none;" class="tips"></span>
                			<span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                			<span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
            			</div>	

            			<div class="form-group has-feedback">
                			<label for="email">社团邮箱</label>
                			<div class="input-group">
                    			<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                    			<input id="email" class="form-control" placeholder="请输入邮箱" type="email">
                			</div>
                			<span style="color:red;display: none;" class="tips"></span>
                			<span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                			<span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
           				</div>
						


            			<div class="form-group has-feedback">
            				<label for="club_name">社团名称</label>
            				<div class="input-group">
            					<span class="input-group-addon"><span class="glyphicon glyphicon-flag"></span></span>
            					<input id="clubName" class="form-control" placeholder="请输入社团名称" type="text" maxlength="20">
            				</div>
            				<span style="color:red;display: none;" class="tips"></span>
                			<span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                			<span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
            			</div>


						<div class="form-group has-feedback">
            				<label for="invite_code">邀请码</label>
            				<div class="input-group">
            					<span class="input-group-addon"><span class="glyphicon glyphicon-bullhorn"></span></span>
            					<input id="inviteCode" class="form-control" placeholder="请输入邀请码" type="text">
            				</div>
            				<span style="color:red;display: none;" class="tips"></span>
                			<span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                			<span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
            			</div>


            			<div class="form-group">
            				<label for="club_intro">社团简介</label>
            				<div class="input-group">
            					<span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
            					<textarea class="form-control" id="clubIntro" rows="3" placeholder="请输入20-100字的社团简介" minlength="20" maxlength="100"></textarea>
            				</div>
            				<span style="color:red;display: none;" class="tips"></span>
                			<span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                			<span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
            			</div>



						<div class="form-group">
                			<input class="form-control btn btn-primary" id="submit" value="注册" type="submit">
            			</div>


				</div>
			</div>
		</div>
	</div>


	<footer class="container-fluid" id="foot">
		<div class="row" style="padding:2%;">
			<div class="col-md-2 col-md-offset-7 col-xs-6" id="foot_words">
				<p><a href="">关于我们</a></p>
				<p><a href="">联系我们</a></p>
				<p><a href="">开发团队</a></p>
				<p><a href="">其他作品</a></p>
			</div>
			<div  class="col-md-2 col-xs-6">
				<img id="qr_code" src="http://www.sdciq.gov.cn/jiningciq/zwpd/tzgg/201708/W020170809566596875096.gif" > 
			<div>
		</div>
	</footer>
</body>

<script type="text/javascript">
$(document).ready(function(){  
    var img = $("#qr_code");  
	var h = $("#foot_words").outerHeight(); 	
	var w = 70;
    img.css({height:h},{width:w});  
});


var regUsername = /^[a-zA-Z_][a-zA-Z0-9_]{4,19}$/;
var regPasswordSpecial = /[~!@#%&=;':",./<>_\}\]\-\$\(\)\*\+\.\[\?\\\^\{\|]/;
var regPasswordAlpha = /[a-zA-Z]/;
var regPasswordNum = /[0-9]/;
var regEmail = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/;
var password;
var check = [false, false, false, false, false, false];
var check_textarea = false;
//校验成功函数
function success(Obj, counter) {
    Obj.parent().parent().removeClass('has-error').addClass('has-success');
    $('.tips').eq(counter).hide();
    $('.glyphicon-ok').eq(counter).show();
    $('.glyphicon-remove').eq(counter).hide();
    check[counter] = true;

}

// 校验失败函数
function fail(Obj, counter, msg) {
    Obj.parent().parent().removeClass('has-success').addClass('has-error');
    $('.glyphicon-remove').eq(counter).show();
    $('.glyphicon-ok').eq(counter).hide();
    $('.tips').eq(counter).text(msg).show();
    check[counter] = false;
}


$('.container').find('input').eq(0).change(function() {
    if (regUsername.test($(this).val())) {
        success($(this), 0);
    } else if ($(this).val().length < 5) {
        fail($(this), 0, '用户名太短，不能少于5个字符');
    } else {
        fail($(this), 0, '用户名只能为英文数字和下划线,且不能以数字开头');
    }
});


function atLeastTwo(password) {
    var a = regPasswordSpecial.test(password) ? 1 : 0;
    var b = regPasswordAlpha.test(password) ? 1 : 0;
    var c = regPasswordNum.test(password) ? 1 : 0;
    return a + b + c;

}

$('.container').find('input').eq(1).change(function() {
    password = $(this).val();
    if ($(this).val().length < 8) {
        fail($(this), 1, '密码太短，不能少于8个字符');
    } else {
        if (atLeastTwo($(this).val()) < 2) {
            fail($(this), 1, '密码中至少包含字母、数字、特殊字符的两种');
        } else {
            success($(this), 1);
        }
    }
});

// 再次输入密码校验
$('.container').find('input').eq(2).change(function() {
    if ($(this).val() == password) {
        success($(this), 2);
    } else {
        fail($(this), 2, '两次输入的密码不一致');
    }
});

// 邮箱校验
$('.container').find('input').eq(3).change(function(){  
    if (regEmail.test($(this).val())){
    	success($(this), 3);
    }else{
    	fail($(this), 3, '邮箱格式错误');
    }
});


//社团名校验（查重）
$('.container').find('input').eq(4).change(function(){
	if(1){
		success($(this),4);
	}else{
		fail($(this),4, '该社团已存在');
	}
});


//邀请码检验
$('.container').find('input').eq(5).change(function(){
	if(1){
		success($(this),5);
	}else{
		fail($(this),5, '邀请码错误');
	}
});


//社团简介校验
$('.container').find('textarea').eq(0).change(function(){
	if($(this).val().length<20 || $(this).val().length>100){
		$(this).parent().parent().removeClass('has-success').addClass('has-error');
		$('.tips').eq(6).text("请输入20-100字简介").show(); 	
		check_textarea = false;
	}
	else{
		$(this).parent().parent().removeClass('has-error').addClass('has-success');
		$('.tips').eq(6).hide();
		check_textarea = true;
	}
});



//提交表单
$('#submit').click(function(e) {
    if (!check.every(function(value) {
            return value == true
        })) {
        e.preventDefault();
        for (key in check) {
            if (!check[key]) {
                $('.container').find('input').eq(key).parent().parent().removeClass('has-success').addClass('has-error');
            }
        }
        if(!check_textarea)
        	$('.container').find('textarea').eq(0).parent().parent().removeClass('has-success').addClass('has-error');
    }
    else{
    	alert("注册成功，请到邮箱确认！");
    }
});
</script>